@import url('https://fonts.googleapis.com/css?family=Lato|Slabo+27px');

body {
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Slabo 27px', serif;
  color: #8e8e8e;
}

body, p {
  font-family: 'Lato', sans-serif;
}

body {
  margin-left: 20%;
  border-left: solid 4px lightgrey;
  padding-left: 3%;
  margin-top: 3%;
}

@media (max-width: 600px) {
  body {
    padding-left: 0 !important;
    padding: 10px !important;
    border-left: 0;
  }
}
